body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

header {
	width: 100%;
}

ul {
	list-style: none;
}

nav li {
	display: inline-block;
	padding: 7px;
}

.nav-default {
	color: #333333;
}

.nav-default:hover {
	text-decoration: underline;
}

#left-nav {
	float: left;
}

#right-nav {
	float: right;
}

#nav-sign-in {
	color: #ffffff;
	background: #0066ff;
	margin-right: 20px;
	border-radius: 2px;
	font-weight: bold;
}

#logo img {
	text-align: center;
	padding-top: 175px;
	padding-bottom: 20px;
	display: block;
	width: 150px;
	height: auto;
}

#search {
	text-align: center;
}

#search-bar {
	width: 500px;
	padding: 10px;
}

#buttons {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 500px;
}

footer {
	width: 100%;
	background: #f0f0f0;
	border-top: 2px solid #d9d9d9;
}

.footer-default {
	display: inline;
	color: #333333;
	padding: 10px;
}

footer ul:hover {
	text-decoration: underline;
}

#left-footer{
	float: left;
}

#right-footer{
	float:right;
}